.container {
	width: 800px;
	margin: 80px auto;
}


/* For a Screen > 960px, this CSS wil be read */
/* RESPONSE DESIGN when small device MOBILE PHONE*/
/* MEDIA QUERY 1 */
@media (max-width:  960px) {
	.container {
		width:  700px;
		/* background-color:  red; */
	}
}

/* For a Screen < 960px, this CSS wil be read */
/* RESPONSE DESIGN when small device MOBILE PHONE*/
/* MEDIA QUERY 2 */
@media (max-width:  720px) {
	.container {
		width:  500px;
		/* background-color:  red; */
	}
}

/* For a Screen < 540px, this CSS wil be read */
/* RESPONSE DESIGN when small device MOBILE PHONE*/
/* MEDIA QUERY 3 */
@media (max-width:  540px) {
	.container {
		width:  300px;
		/* background-color:  red; */
	}
}
